@media screen and (max-width: 992px) {
  .container {
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
      "item2 item2"
      "item1 item1"
      "item3 item6"
      "item4 item4"
      "item8 item5"
      "item7 item5"
      "item9 item9"
      "item10 item10";
  }
  .item-1 {
    grid-area: item1;
    align-items: center;
    padding: 1.25rem 0;
  }

  .item-2 {
    grid-area: item2;
    padding: 1.25rem 0;
  }

  .item-3 {
    grid-area: item3;
  }

  .item-4 {
    grid-area: item4;
  }

  .item-5 {
    grid-area: item5;
    padding: 2rem 0;
  }

  .item-6 {
    grid-area: item6;
  }

  .item-7 {
    grid-area: item7;
  }

  .item-8 {
    grid-area: item8;
  }

  .item-9 {
    grid-area: item9;
  }

  .item-10 {
    grid-area: item10;
  }
}

@media screen and (max-width: 640px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "item2 "
      "item1"
      "item3"
      "item4"
      "item5"
      "item6 "
      "item7 "
      "item8 "
      "item9 "
      "item10";
  }

  .item-1 {
    grid-area: item1;
    align-items: center;
    flex-direction: column;
  }
  .item-1 .contant {
    width: 90%;
    margin-top: 2.5rem;
  }

  .item-1 .img {
    width: 60%;
    margin-top: 2.5rem;
  }
  .item-2 .inner {
    width: 90%;
  }
  .item-2 .inner h2 {
    font-size: 2rem;
    line-height: 3.125rem;
  }
  .item-4 {
    grid-area: item4;
    padding: 1.25rem;
    flex-direction: column;
  }

  .item-4 .right {
    width: 100%;
  }
  .item-4 .left {
    width: 90%;
  }

  .item-10 {
    flex-direction: column;
    padding: 1.875rem;
  }
  .item-10 .img {
    width: 40%;
  }
  .item-10 .contant {
    width: 80%;
    text-align: center;
  }
}
